services:
  #### Serviços de produção

  API_QMONKEY_PROD:
    image: api_qmonkey:prod
    volumes:
      - ./api_mysql/:/app/
    ports:
      - "5001:5000"
    env_file:
      - ./config/api_mysql_prod.env
    networks:
      - druna_net
    restart: on-failure

  #### Serviços de teste

  API_QMONKEY_TEST:
    image: api_qmonkey:test
    volumes:
      - ./api_mysql/:/app/
      - ./db_populate/:/app/db_populate/
    ports:
      - "5003:5000"
    env_file:
      - ./config/api_mysql_test.env
    networks:
      - druna_net
    restart: on-failure

  #### Serviços locais

  API_QMONKEY_LOCAL:
    image: api_qmonkey:local
    depends_on:
      DB:
        condition: service_healthy
        restart: true
    volumes:
      - ./api_mysql/:/app/
    ports:
      - "5004:5000"
    env_file:
      - ./config/api_mysql_local.env
    networks:
      - druna_net
    restart: on-failure

  DB:
    image: mysql_db:local
    ports:
      - "3306:3306"
    env_file:
      - ./config/db.env
    networks:
      - druna_net
    healthcheck:
      test: ["CMD", "mysql","-u","qmonkey_dev","-p12345", "-h","localhost", "qmonkey_teste"]
      timeout: 5s
      retries: 10
    command: --secure-file-priv=""
    # restart: always
    restart: on-failure


networks:
  druna_net:
    driver: bridge
